<h1>Home</h1>
<h3><a href="http://localhost:3000/fortune">Fortune</a></h3>
<h3><a href="http://localhost:3000/lottery">Lottery</a></h3>
<h3><a href="http://localhost:3000/counter">Counter</a></h3>
<h3><a href="http://localhost:3000/lyrics">Lyrics</a></h3>